:root{
    --theme-color: #2196f3;
    --main-color: white;
}

@media screen and (min-width : 800px)
{

  body{
    margin-left: 25%;
    margin-right: 25%;
  }
}

/*css for mobile screen which also somehow applicable to computer screen*/
html
{
    background: var(--theme-color);
    border-radius: 5px;
}

/*options back button*/
.backButton
{
    float: left;

    height: 85px;
    width: 85px;
    display: inline-block;
    border-radius: 48px;
    outline: none;
    border: 0;
    cursor: pointer;
    background: var(--theme-color);
}

.mid-line{
    height: 4px;
    width: 35px;
    background-color: var(--theme-color);
    border-radius: 2px;
    margin: 2%;

    position: relative;
    top: 32%;   
    left: 18%;
    
}
.arrowLine{
    height: 4px;
    width: 20px;
    background-color: var(--theme-color);
    border-radius: 2px;
    margin: 2%;

    position: relative;
}

.up{
    top: 32%;   
    left: 18%;   
    transform: rotate(-30deg);
}

.down{
    top: 32%;   
    left: 18%;   
    transform: rotate(30deg);
}

/*options menu button*/
.optionsMenu
{
    float: right;

    height: 85px;
    width: 85px;
    display: inline-block;
    border-radius: 48px;
    outline: none;
    border: 0;
    cursor: pointer;
    background: var(--theme-color);
}

.insideOptionsMenu
{
    height: 62px;
    width: 62px;
    background-color: var(--main-color);
    border-radius: 24px;
    border: 4px solid var(--theme-color);
  

    position: relative;
    margin: 3%;
}

.line
{
    height: 5px;
    width: 30px;
    background-color: crimson;
    border-radius: 2px;
    margin: 2%;

    position: relative;
    top: 20%;   
    left: 19%;
}

.linelong
{
    height: 5px;
    width: 40px;
    background-color: var(--theme-color);
    border-radius: 2px;
    margin: 2%;

    position: relative;
    top: 20%;   
    left: 19%;
}

input:focus{
    outline:none;
}
  
#wrapper h1{
    color: var(--main-color);
    font-family: "Lobster";
    margin-bottom: -55px;
}



/*css for settings*/
.mysettings
{
    background: var(--theme-color);
    border-radius: 5px; 
}

.settings{
    background: var(--main-color);
    border-radius: 5px;
    margin: 12px; 
    /* box-shadow: 10px 15px 18px 5px #333; */
}

.settings h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
    border-radius: 5px;

    padding-top: 3%;
    padding-left: 8%;
    padding-bottom: 2%; 
}

.settings p{
    color: var(--theme-color);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5%; 
 }
 
 .settings button{
    cursor: pointer;
    height: auto;

    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--theme-color);
    color: var(--main-color);
    border: 2px solid var(--theme-color);
    
    width: 40%;
    font-size: 120%; 
    
    border-radius: 3%;
    margin: 2%;
    margin-bottom: 5%; 
    
}



